<h3>Card Selected:</h3>
<p>Card <%= @card.name %></p>
<%= button_tag %>
<%= button_tag %>
<%= button_tag %>
<div id="cardSide"><%= @card.question_text %></div>
<p>Card <%= @card.answer_text %></p>
<p>Card <%= @card.background_color %></p>
<p>Card <%= @card.foreground_color %></p>
<p>Card <%= @card.font_size %></p>
<p>Card <%= @card.font_style %></p>
