<%= javascript_include_tag 'card', 'data-turbolinks-track' => true %>
<h3><%= @selectedDeck.title %> has the following cards:</h3>

<% cardsArray = Array.new %>
<% @selectedDeck.cards.each do |card| %>
  <% if card.visible == true %>
    <% cardsArray.push(card) %>
    <%= link_to "#{cardsArray.last.name}", {}, id: "#{cardsArray.last.name}#{cardsArray.last.id}" %>
  <% end %>
<% end %>
  
<h3>Current Card:</h3>

<%= button_tag "Previous Card", :id => 'previousCardButton' %>
<%= button_tag "Next Card", :id => 'nextCardButton' %>
<%= button_tag "Show Answer", :id => 'showAnswerButton' %>

<div>
  <% cardsArray.each_with_index do |card, index| %>
    <% if index == 0 %>
      <div class="cardDiv" id="<%= card.name %><%= card.id %>"
        style="color:<%= card.foreground_color %>;
               background-color:<%= card.background_color %>;
               font-style:<%= card.font_style %>;
               font-size:<%= card.font_size %>;">
        <div><%= card.question_text %></div>
        <div class="cardSide answerTextDiv"><%= card.answer_text %></div>
      </div>
    <% else %>
      <div class="cardDiv" style="display:none;" id="<%= card.name %><%= card.id %>"
        style="color:<%= card.foreground_color %>;
               background-color:<%= card.background_color %>;
               font-style:<%= card.font_style %>;
               font-size:<%= card.font_size %>;">
        <div><%= card.question_text %></div>
        <div class="cardSide answerTextDiv"><%= card.answer_text %></div>
      </div>
    <% end %>
  <% end %>
</div>