<div id="jumpToCard">
  <h4><%= @selectedDeck.title %> (Specific Card):</h4>
  <% @selectedDeckCards.each do |card| %>
    <a href="#" class="<%= card.name %><%= card.id %>"><%= card.name %></a>&nbsp;
  <% end %>
</div>  

<% if @selectedDeckCards.size > 0 %>
  <p id="cardSideDescription">Question:</p>
  <div class="cardContainer">
    
    <i class="fa fa-chevron-left fa-5x faa-pulse animated-hover"></i>
    
    <% @selectedDeckCards.each_with_index do |card, index| %>
      <div class="cardDiv card_display <%= card.name %><%= card.id %>" style="display:none;">
        <div style="<%= displayPicture_styles card %>" class="cardSide questionTextDiv">
          <p class="card_text front" style="<%= displayQuestionsText card %>"><%= card.question_text %></p>
        </div>
        <div style="color:<%= card.foreground_color %>; display:none;
               background-color:<%= card.background_color %>;" class="cardSide answerTextDiv">
          <p class="card_text" style="font-family:<%= card.font_style %>;
               font-size:<%= card.font_size %>;"><%= card.answer_text %></p>
        </div>
      </div>
    <% end %>
    
    <i class="fa fa-chevron-right fa-5x faa-pulse animated-hover"></i>
    
  </div>

<% else %>
  <h3><%= @selectedDeck.title %> has no cards yet.</h3>
<% end %>