<div class="card_front" style="<%= picture_style %>">

  <p class="card_side_description">QUESTION</p>
  <p class="card_text" style="<%= cardText %>"><%= @card.question_text %></p>
  
</div>
<div class="card_back" style="background:<%= @card.background_color %>">

  <p class="card_side_description">ANSWER</p>
  <p class="card_text" style="<%= cardText %>"><%= @card.answer_text %></p>

</div>