<%= form_for [@deck, @card]  do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="card_editor_button">
    <p>Edit Contents</p>
  </div>

  <div class="card_editor">

    <div class="field">
      <%= f.label :visible %><br>
      <%= f.check_box :visible %>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :required => true %>
    </div>

    <div class="field">
      <%= f.label :question_text %><br>
      <%= f.text_area :question_text, :required => true %>
    </div>

    <div class="field">
      <%= f.label :answer_text %><br>
      <%= f.text_area :answer_text, :required => true %>
    </div>

    <div class="field">
      <%= f.label :background_color %><br>
      <%= f.color_field :background_color %>
    </div>

    <div class="field">
      <%= f.label :foreground_color %><br>
      <%= f.color_field :foreground_color %>
    </div>

    <div class="field">
      <%= f.label :font_style %><br>
      <%= f.select :font_style, [ 'Arial', 'Comic Sans MS', 'Courier New', 'Georgia', 'Lucida Sans Typewriter', 'Palatino', 'Papyrus', 'Times New Roman', 'Trebushet MS', 'Verdana' ], :prompt => 'Select One' %>
    </div>

    <div class="field">
      <%= f.label :font_size %><br>
      <%= f.select :font_size, [ '2', '2.5', '3', '3.5', '4', '4.5', '5' ], :promvw => 'Select One' %>
    </div>
    
    <div class="field">
      <%= f.label :picture %><br>
      <%= f.file_field :picture %>
    </div>

    <% if @card.persisted? %>
      <% if @card.picture? %>
        <div class="field">
          <%= link_to 'Remove card picture', remove_card_picture_path, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  
    <div class="button_cancel">
      <%= link_to 'Cancel', deck_cards_path(@deck, @cards) %>
    </div>

  </div>
  
  <div class="card_display">
    
    <%= render 'card_display' %>
    
  </div>
<% end %>
