<%= form_for [@deck, @card]  do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card_editor">

    <div class="field">
      <%= f.label :visible %><br>
      <%= f.check_box :visible %>
    </div>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :question_text %><br>
      <%= f.text_area :question_text %>
    </div>

    <div class="field">
      <%= f.label :answer_text %><br>
      <%= f.text_area :answer_text %>
    </div>

    <div class="field">
      <%= f.label :background_color %><br>
      <%= f.color_field :background_color %>
    </div>

    <div class="field">
      <%= f.label :foreground_color %><br>
      <%= f.color_field :foreground_color %>
    </div>

    <div class="field">
      
	

        <select>
          <option value="Arial">Arial</option>
          <option value="Comic Sans MS">Comic Sans MS</option>
          <option value="Courier New">Courier New</option>
          <option value="Georgia">Georgia</option>
          <option value="Lucida Sans Typewriter">Lucida Sans Typewriter</option>
          <option value="Palatino">Palatino</option>
          <option value="Papyrus">Papyrus</option>
          <option value="Times New Roman">Times New Roman</option>
          <option value="Trebushet MS">Trebushet MS</option>
          <option value="Verdana">Verdana</option>
  
        </select>
      <%= f.label :font_style %>
    </div>

    <div class="field">
      <%= f.label :font_size %><br>
      <select>
        <option value="10pt">10</option>
        <option value="12pt">12</option>
        <option value="14pt">14</option>
        <option value="16pt">16</option>
        <option value="18pt">18</option>
        <option value="20pt">20</option>
        <option value="22pt">22</option>
        <option value="24pt">24</option>
        <option value="28pt">28</option>
        <option value="30pt">30</option>
      </select>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  </div>
  
  <div class="card_display">
    
    <%= render 'card_display' %>
    
  </div>
<% end %>
