<h1>Cards in this Deck:</h1>

<div class="cards_index">
  
  <ul class="div_nav left">
    <li><%= link_to 'Back to Deck', deck_path(@deck, @card) %></li>
  </ul>

  <div class="card_list">
  <% @cards.each do |card| %>

    <div class="card_display">

      <div class="card_front" style="<%= picture_styles card %>">

        <p class="card_side_description">QUESTION</p>
        <p class="card_text" style="<%= questionsText card %>"><%= card.question_text %></p>

      </div>
      
      <div class="card_back" style="background:<%= card.background_color %>">

        <p class="card_side_description">ANSWER</p>
        <p class="card_text" style="color:<%= card.foreground_color %>;font-size:<%= card.font_size %>;font-style:<%= card.font_style %>"><%= card.answer_text %></p>

      </div>

      <ul class="div_nav center">
        <li><%= link_to 'Show', deck_card_path(@deck, card) %></li>
        <li><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></li>
        <li><%= link_to 'Destroy', [@deck, card], method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>

    </div>
  
  <% end %>
  </div>

</div>