<p id="notice"><%= notice %></p>

<ul>
  <li>Card ID: <%= @card.id %></li>
  <li>Card Name: <%= @card.name %></li>
  <li>Question: <%= @card.question_text %></li>
  <li>Answer: <%= @card.answer_text %></li>
  <li>Background Color: <%= @card.background_color %></li>
  <li>Foreground Color: <%= @card.foreground_color %></li>
  <li>Font Style: <%= @card.font_style %></li>
  <li>Font Size: <%= @card.font_size %></li>
  <li><%= @card.visible %></li>
</ul>
<p>
  <strong>Visible:</strong>
  <%= @card.visible %>
</p>
<%= link_to 'Edit', edit_deck_card_path(@deck, @card) %> |
<%= link_to 'Back', deck_cards_path(@deck, @card) %>
