<h1>All Decks</h1>

<div class="deck_index">
  
  <ul class="div_nav">
    <li><%= link_to 'New Deck', new_deck_path(@deck) %></li>
  </ul>

  <div class="tables"> 
    <% @decks.each do |deck| %>
      <table>
        <tbody>
            <tr>
              <td><%= link_to deck.title, deck %></td>
              <td data-label="Description"><%= deck.description %></td>
              <td data-label="Category"><%= deck.category.name rescue "No category assigned"%></td>
              <td data-label="Number of Cards"><%= deck.cards.count %></td>
              <td data-label="Last Modified"><%= time_ago_in_words(deck.last_modified) %> ago</td>
              <td class="links"><%= link_to 'Edit ', edit_deck_path(deck) %></td> 
              <td class="links"><%= link_to 'Delete', deck, method: :delete, data: { confirm: 'Are you sure you want to delete the deck ' + deck.title + '?' } %></td>
              <td class="links"><%= link_to "Manage Cards", deck_cards_path(deck, @cards) %></td>
              <td class="links">
                <% if deck.slug.present? %>
                <%= link_to 'Stop Sharing Deck', unshare_deck_path(deck), method: :patch %>
                <% else %>
                  <%= link_to 'Share This Deck', share_deck_path(deck), method: :patch %>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    <% end %>
  </div> 
</div>
