<p id="notice"><%= notice %></p>

<div class="deck_show">
  <p class="title">
    <strong>Title:</strong>
    <%= @deck.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @deck.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <% if @deck.category.present? %>
      <%= @deck.category.name %>
    <% else %>
      No Category assigned
    <% end %>
  </p>
  
  <p>
    <strong>Number of Cards:</strong>
    <%= @deck.cards.size %>
  </p>
  
  <p>
    <strong>Creation date:</strong>
    <%= @deck.creation_date %>
  </p>

  <p>
    <strong>Last modified:</strong>
    <%= @deck.last_modified %>
  </p>
  
  
  
  <ul class="div_nav left">
    <li><%= link_to 'Edit Deck', edit_current_user_deck_path(current_user, @deck) %></li>
    <li><%= link_to 'New Card', new_current_user_deck_card_path(current_user, @deck) %></li>
    <li><%= link_to "Manage Cards", current_user_deck_cards_path(current_user, @deck, @cards) %></li>
    <li><%= link_to 'Back to Decks', current_user_decks_path(current_user, @decks) %></li>
  </ul>

</div>