<!DOCTYPE html>
<html>
  <head>
    <title>Flashcard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      
      <header id="main_title">
        <h1>Flash Cards</h1>
        <h2>by Team Awesome</h2>
      </header>
      
      <nav>
        <ul>
          <li><%=link_to_unless_current 'Home', root_url %></li>
          <li><%=link_to_unless_current 'Display', display_url %></li>
          <li><%=link_to_unless_current 'Decks', decks_url %></li>
          <li><%= link_to_unless_current 'Categories', categories_url %></li>
        </ul>
      </nav>
      
      <div id="main_nav_button">
        <p>&#9776;</p>
      </div>
      
      <main>
        <%= yield %>
      </main>
    </div>

  </body>
</html>
